[Unit]
Description=Configure Raspberry Pi as a USB gadget
After=systemd-udev-settle.service

[Service]
Type=oneshot
Environment=CONFIGFS_PATH=/sys/kernel/config
ExecStart=/opt/uvc-webcam/gadget-run.sh /opt/uvc-webcam/conf-pi4shadercam-uncompressed init
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=usb-gadget-config
WorkingDirectory=/tmp

[Install]
WantedBy=basic.target
